:host {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  @media screen and (orientation: landscape) {
    aspect-ratio: 16/9;
  }

  @media screen and (orientation: portrait) {
    height: 100%;
  }
}
