:host {
  display: block;
  position: relative;
  width: 100%;
  max-width: calc(100vh * 16/9);
  max-height: 100vh;
  margin: auto;

  @media screen and (orientation: landscape) {
    aspect-ratio: 16/9;
    width: min(100%, calc(100vh * 16/9));
  }

  @media screen and (orientation: portrait) {
    height: 100%;
  }
}
