@import "../../../../styles/figma-functions";

.episode-title-screen__links {
  --image-ratio: 851 / 901;
  @media screen and (orientation: landscape) {
    --image-width: 45vw;
    --image-height: calc(1 / calc(var(--image-ratio)) * var(--image-width));
  }

  @media screen and (orientation: portrait) {
    --image-width: 103.5vw;
    --image-height: calc(1 / calc(var(--image-ratio)) * var(--image-width) * 0.675);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacer) * 2);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: calc(var(--spacer) * 10);
  padding-right: 5vw;
  padding-left: 8.5vw;
  width: var(--image-width);
  height: var(--image-height);
  background-image: url("/images/Fiche_01_UI_assets 1.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .btn {
    border-radius: figma-radius-to-rem(40);
    font-size: figma-font-size-to-rem(37);
  }
}
