@import "../../../../styles/figma-functions";

:host {
  position: relative;
}

.episode-title-screen__links {
  --image-ratio: 851 / 901;
  --image-width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacer) * 2);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: calc(var(--spacer) * 10);
  padding-right: 5vw;
  padding-left: 8.5vw;
  width: var(--image-width);
  height: calc(1 / calc(var(--image-ratio)) * var(--image-width));
  background-image: url("/images/Fiche_01_UI_assets 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .button {
    border-radius: figma-radius-to-rem(40);
  }
}
