@use "@angular/cdk";
@use "normalize.css";
@use "./styles/figma-functions" as figma;
@use "./styles/reset-fieldset";

@include cdk.a11y-visually-hidden();

html {
  --beige-color: #e6dccf;
  --black-color: #000;
  --green-color: #30c97f;
  --grey-color: #959595;
  --pink-color: #fb80ac;
  --sky-blue-color: #45bcff;
  --ultramarine-blue-color: #3f52ff;
  --royal-blue-color: #3673ff;
  --white-color: #fff;
  --danger-color: #ff5252;
  --light-danger-color: #ffdcdc;
  --success-color: #00b050;
  --light-success-color: #ccefdc;
  --text-color: #1f1f1f;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --default-background-color: var(--black-color);
  --default-text-color: var(--white-color);

  --screen-ratio: 16 / 9;
  --screen-landscape-max-width: calc(100vh * calc(var(--screen-ratio)));
  --screen-landscape-width: min(100%, var(--screen-landscape-max-width));

  --default-line-height: 1.15;
  --spacer: 1rem;

  --button-min-width: 48px;
  --button-min-height: 48px;

  color: var(--default-text-color);
  line-height: var(--default-line-height);
  box-sizing: border-box;

  @media screen and (orientation: landscape) {
    font-size: 1.1vw;
  }

  @media screen and (orientation: portrait) {
    font-size: 1.2vh;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--default-background-color);
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px transparent;
  padding: 0;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  background-color: transparent;
  color: var(--default-text-color);
  cursor: pointer;
  font-size: figma.figma-font-size-to-rem(35);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.btn-plain {
  padding: 2.5rem 1.5rem;
  background-color: var(--ultramarine-blue-color);
  box-shadow: 0 3.62px 3.62px 0 var(--shadow-color);
}

.screen {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::before {
    content: "";
    z-index: -2;
    position: absolute;
    inset: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (orientation: landscape) {
      background-image: var(--screen-background-landscape);
    }

    @media screen and (orientation: portrait) {
      background-image: var(--screen-background-portrait);
    }
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
  }
}

:focus-visible {
  border-color: var(--white-color) !important;
  outline: 3px solid var(--ultramarine-blue-color);
  outline-offset: 0;
}
