@import "normalize.css";
@import "./styles/_figma-functions";
@import "./styles/reset-fieldset";

html {
  --beige-color: #e6dccf;
  --black-color: #000;
  --green-color: #30c97f;
  --grey-color: #959595;
  --pink-color: #fb80ac;
  --sky-blue-color: #45bcff;
  --ultramarine-blue-color: #3f52ff;
  --white-color: #fff;
  --danger-color: #ff5252;
  --light-danger-color: #ffdcdc;
  --success-color: #00b050;
  --light-success-color: #ccefdc;
  --text-color: #1f1f1f;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --default-background-color: var(--black-color);
  --default-text-color: var(--white-color);

  --screen-ratio: 16 / 9;

  --default-line-height: 1.15;
  --spacer: 1rem;

  --button-min-width: 48px;
  --button-min-height: 48px;

  color: var(--default-text-color);
  line-height: var(--default-line-height);
  box-sizing: border-box;
  @media screen and (orientation: landscape) {
    font-size: 1.15vw;
  }

  @media screen and (orientation: portrait) {
    font-size: 2vw;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--default-background-color);
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  background-color: transparent;
  color: var(--default-text-color);
  cursor: pointer;
  font-size: figma-font-size-to-rem(35);
  font-weight: bold;
  text-decoration: none;
}

.btn-plain {
  padding: 2.5rem 1.5rem;
  background-color: var(--ultramarine-blue-color);
  box-shadow: 0 3.62px 3.62px 0 var(--shadow-color);
}

.screen {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::before {
    content: "";
    z-index: -2;
    position: absolute;
    inset: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (orientation: landscape) {
      background-image: var(--screen-background-landscape);
    }

    @media screen and (orientation: portrait) {
      background-image: var(--screen-background-portrait);
    }
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
  }
}
